<h1 class="block">Your Dashboard</h1>
<section class="block">
  <h2>Time Remaining: 
    <span>{{ getNumberofDaysLeft(games) }} Days</span>
  </h2>
  <section>
    <h4>Number of Unfinished Games: 
      <span>{{ numberOfUnfinishedGames }}</span>
    </h4>
    <app-progress-bar
      [progressPercentage]="getProgressPercentage(numberOfUnfinishedGames, totalNumberOfGames)"
      [backgroundColor]="'#c99898'"
      [barColor]="'#b43f3f'"
    ></app-progress-bar>
  </section>
  <section>
    <h4>Number of Finished Games: 
      <span>{{ numberOfFinishedGames }}</span>
    </h4>
    <app-progress-bar
      [progressPercentage]="getProgressPercentage(numberOfFinishedGames, totalNumberOfGames)"
      [backgroundColor]="'#a8ce87'"
      [barColor]="'#76b43f'"
    ></app-progress-bar>
  </section>
</section>
