@import '../../../styles/colors';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  background-color: $color-lightblue;
  height: 100%;
  padding: 1rem 2rem;
  flex: 1;
}