$color-darkblue: #1e2e3b;
$color-blue: #30495f;
$color-lightblue: #9dafbd;
$color-text-light: #d6dbdf;
$color-text-dark: #1e2e3b;
$color-text-placeholder: #6c6c6c;
$color-menu-highlight: #405e78;
$color-green: #76b43f;
$color-lightgreen: #a8ce87;
$color-red: #b43f3f;
$color-lightred: #c99898;
$color-orange: #b48c3f;