<header>
  <div class="logo">
    <a routerLink="/">{{ title }}</a>
  </div>
  <div class="user-profile">
    <img [src]="user.image" [alt]="user.firstName">
    <a routerLink="/your-profile">{{ user.firstName }} {{ user.lastName }}</a>
  </div>
</header>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/games" routerLinkActive="active">Games</a>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <a 
    href="#"
    *ngFor="let language of languages"
    [ngClass]="{'active' : language.code === langCode}">{{ language.name }}</a>
</footer>

