:host {
  display: flex;
  flex-direction: column;
}

.box {
  margin-top: 0.75rem;
  border-radius: 0.25rem;
  background-color: #30495f;
  color: #d6dbdf;
}

h1 {
  font-size: 1.25rem;
  font-weight: 400;
  padding: .5rem 1rem;
}

section {
  padding: 1.5rem 1rem;

  h2 {
    font-size: 1.25rem;
  }

  div {
    margin: 1rem 0;
  }

  span {
    color: #9dafbd;
    font-weight: normal;
  }
}
