<h1 class="box">Your Dashboard</h1>
<section class="box">
  <h2>Time Remaining: 
    <span>{{ getNumberofDaysLeft() }} Days</span>
  </h2>
  <div>Number of Unfinished Games: 
    <span>{{ getNumberOfUnfinishedGames() }}</span>
  </div>
  <app-progress-bar
    [progressPortion]="10"
    [totalPortion]="20"
    [backgroundColor]="green"
    [barColor]="lime"
  ></app-progress-bar>
  <div>Number of Finished Games: 
    <span>{{ getNumberOfFinishedGames() }}</span>
  </div>
  <app-progress-bar
    [progressPortion]="15"
    [totalPortion]="20"
    [backgroundColor]="red"
    [barColor]="pink"
  ></app-progress-bar>
</section>
